.sidebar {
    position: fixed;
    transition: all 0.4s;
    top: 0;
    bottom: 0;
    left: 0;
    width: 270px;
    display: block;
    z-index: 1;
    color: #fff;
    background: linear-gradient(#66615b,#000 80%);
    font-weight: 200;
    background-size: cover;
    background-position: center center; 
}
.sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center; 
}
.sidebar-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
  z-index: 2;
}
.sidebar__wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 270px;
    z-index: 4;
}


.side__header {
    padding: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    margin-left: 4px;
}
.sidebar__logo-title {
    padding-left: 6px;
}
.sidebar-link {
    color: #FFFFFF !important;
    margin: 5px 10px;
    opacity: .86;
    border-radius: 4px;
    text-decoration: none;
    padding: 5px 15px;
    text-transform: uppercase;
    text-align: start;
    font-size: 12px;
    display: flex !important;
    align-items: center;
    align-items: baseline;
    width: 100%;
}
.sidebar__icon {
    padding-right: 10px;
    font-size: 24px;
}
.sidebar__title{
    font-size: 13px;
}
.sidebar-link:hover {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1; 
}
.simple-text {
    text-transform: uppercase;
    text-decoration: none;
    text-align: start;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 30px;
    transition: all 0.3s;
}
.simple-text:hover{
    color: #fff;
}
.nav__section {
    display: flex;
    flex-direction: column;
}

.nav__section li {
    display: flex;
}
.sidebar.is-nav-open {
    left: -220px;
    transition: all 0.4s;
}
.icon__toggle {
    font-size: 50px;
    margin-left: 220px;
    right: 0;
    cursor: pointer;
    transition: color .3s;
}